bin/
obj/
advancedCalculator/.vs/advancedCalculator/v17/.suo
advancedCalculator/.vs/advancedCalculator/v17/.futdcache.v1
advancedCalculator/.vs/advancedCalculator/FileContentIndex/270dde08-c2b4-46f7-b665-32a08bd9d33f.vsidx
advancedCalculator/.vs/advancedCalculator/FileContentIndex/read.lock
advancedCalculator/.vs/advancedCalculator/FileContentIndex/dafc2577-b58c-4bd3-b836-4a91e7323358.vsidx
