bin/
obj/
advancedCalculator/.vs/advancedCalculator/v17/.suo
advancedCalculator/.vs/advancedCalculator/v17/.futdcache.v1
advancedCalculator/.vs/advancedCalculator/FileContentIndex/270dde08-c2b4-46f7-b665-32a08bd9d33f.vsidx
advancedCalculator/.vs/advancedCalculator/FileContentIndex/read.lock
advancedCalculator/.vs/advancedCalculator/FileContentIndex/dafc2577-b58c-4bd3-b836-4a91e7323358.vsidx
advancedCalculator/.vs/advancedCalculator/FileContentIndex/2df15210-c546-42ec-b027-fde9428f3221.vsidx
advancedCalculator/.vs/advancedCalculator/FileContentIndex/cce1664f-a46c-43f8-bd9a-90c43bd2d790.vsidx
